<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-sm-12 flex-center-1">
    <%= form_with(model: @article, html: { class: 'center-block col-sm-8 col-xs-12 well form-horizontal', role: 'form' }) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of article', autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-9">
          <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: 'Body of article' %>
        </div>
      </div>

      <div class="form-group">
        <% Category.all.each_slice(5) do |item| %>
          <div class="col-sm-offset-2 col-sm-9 flex-center-2">
            <%= f.collection_check_boxes :category_ids, item, :id, :name do | cb | %>
              <% cb.label(class: 'checkbox-inline input_checkbox') { cb.check_box(class: 'checkbox') + cb.text } %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-offset-2 col-sm-9" style="padding-left:0px;">
      <%= link_to 'Cancel request and return to articles listing', articles_path %>
    </div>
  </div>
</div>
